body {
  overflow-y: scroll;
}

.botTitle {
  display: none !important;
}

.botfooter {
  display: none !important;
  height: 50px;
}

.botAnchors {
  display: none !important;
}

#caseyContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.caseyText {
  width: 87%;
  background-color: #090809;
  color: #D3D0CB;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  opacity: 1;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.caseyText + .caseyText {
  margin-top: 30px;
}

.consumerText + .caseyText {
  margin-top: 30px;
}

.caseyText + .consumerText {
  margin-top: 30px;
}

.caseyText a {
  color: #fad6a5;
}

.fadeaway {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.lp-json-pollock {
  margin-top: 30px;
  margin-bottom: 10px;
}

.lp-json-pollock-layout {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: unset !important;
  border: none;
  flex-wrap: wrap;
  border: none !important;
}

.lp-json-pollock-element-button {
  display: flex;
  border: solid 1px #d4d4d5;
  width: 75% !important;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #3D57A4;
}

.lp-json-pollock-element-text {
  grid-column: 1 / span 2;
  border: none !important;
  width: 100%;
  color: #5f6368 !important;
  font-weight: 300;
  padding: 0 !important;
}


.lp-json-pollock .lp-json-pollock-element-button button {
  padding: 0 !important;
  margin-bottom: 0 !important;
  font-size: 16px;
  font-family: Open Sans;
  color: #fff !important;
}

.lp-json-pollock-layout-carousel .lp-json-pollock-layout {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.lp-json-pollock-layout-carousel .lp-json-pollock-element-image {
  grid-column: 1 / span 2;
}

.lp-json-pollock-layout-carousel .lp-json-pollock-element-button {
  grid-column: 1 / span 2;
}

.lp-json-pollock-layout-carousel .lp-json-pollock-element-text {
  text-align: center;
}

.consumerText {
  align-self: flex-end;
  background-color: #C8D0E9;
  color: #442261;
  border-radius: 21px;
  padding: 10px 20px 10px 20px;
  margin-right: 25px;
}

#bottomLink {
  cursor: pointer;
}

#messageInput {
  margin-top: 30px;
  margin-bottom: 30px;
}

#messageInputUsed {
  margin-top: 30px;
  margin-bottom: 30px;
}

.gooey {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 142px;
  height: 40px;
  margin: -20px 0 0 -71px;
  background: white;
  filter: contrast(20);
}

.dot {
    position: absolute;
    width: 16px;
    height: 16px;
    top: 12px;
    left: 15px;
    filter: blur(4px);
    background: #000;
    border-radius: 50%;
    transform: translateX(0);
    animation: dot 1.8s infinite;
}

.dots {
    transform: translateX(0);
    margin-top: 12px;
    margin-left: 31px;
    animation: dots 1.8s infinite;
}

.dots span {
      display: block;
      float: left;
      width: 16px;
      height: 16px;
      margin-left: 16px;
      filter: blur(4px);
      background: #000;
      border-radius: 50%;
}

@keyframes dot {
  50% {transform: translateX(96px)}
}

@keyframes dots{
  50% {transform: translateX(-31px)}
}

#resetcontainer {
  position: sticky;
  top: 140px;
  height: 20px;
}
