#defaultfooter {
  display: none;
}

#caseyContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.caseyText {
  width: 87%;
  background-color: #090809;
  color: #D3D0CB;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  opacity: 1;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.caseyText + .caseyText {
  margin-top: 30px;
}

.consumerText + .caseyText {
  margin-top: 30px;
}

.caseyText + .consumerText {
  margin-top: 30px;
}

.caseyText a {
  color: #fad6a5;
}

.fadeaway {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.lp-json-pollock {
  margin-top: 30px;
  margin-bottom: 10px;
}

.lp-json-pollock-layout {
  border-radius: 4px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  max-width: unset !important;
  border: none;
  flex-wrap: wrap;
  border: none !important;
}

.lp-json-pollock-element-button {
  display: flex;
  border: solid 1px #d4d4d5;
  width: 75% !important;
  margin-bottom: 20px;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #3D57A4;
}

.lp-json-pollock-element-text {
  grid-column: 1 / span 2;
  border: none !important;
  width: 100%;
  color: #5f6368 !important;
  font-weight: 300;
  padding: 0 !important;
}


.lp-json-pollock .lp-json-pollock-element-button button {
  padding: 0 !important;
  margin-bottom: 0 !important;
  font-size: 16px;
  font-family: Open Sans;
  color: #fff !important;
}

.lp-json-pollock-layout-carousel .lp-json-pollock-layout {
  grid-template-rows: 1fr 1fr 1fr 1fr;
}

.lp-json-pollock-layout-carousel .lp-json-pollock-element-image {
  grid-column: 1 / span 2;
}

.lp-json-pollock-layout-carousel .lp-json-pollock-element-button {
  grid-column: 1 / span 2;
}

.lp-json-pollock-layout-carousel .lp-json-pollock-element-text {
  text-align: center;
}

.consumerText {
  align-self: flex-end;
  background-color: #C8D0E9;
  color: #442261;
  border-radius: 21px;
  padding: 10px 20px 10px 20px;
  margin-right: 25px;
}

#bottomLink {
  cursor: pointer;
}

#messageInput {
  margin-top: 30px;
  margin-bottom: 30px;
}

#messageInputUsed {
  margin-top: 30px;
  margin-bottom: 30px;
}
