body {
  overflow-y: scroll;
}

.botwrapper {
  background: #16134a;
  grid-template-columns: 2.5fr 0.5fr 0.5fr 5fr 3fr 1fr 100px !important;
}

.botwrapper #defaultsidebar {
  grid-row: 2 / span 4;
}

.botwrapper .solitary {
  font-weight: bold;
  color: black;
}

.botwrapper #defaultheader {
  box-shadow: 445px 1rem 5rem -0.5rem #18124b;
}

#maincontent {
  justify-content: center;
}


#botLoader {
  margin-top: 50px;
  align-self: center;
}

#typing {
  display: none;
  color: #fff;
  order: 2;
  opacity: 1;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.botTitle {
  display: none !important;
}

.botfooter {
  display: none !important;
  height: 50px;
}

.botAnchors {
  display: none !important;
}

#caseyContainer {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.caseyTextContainer {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.noOpacity {
  opacity: 1;
}

.caseyCode {
  max-height: 200px;
  overflow-y: auto;
  word-wrap: break-word;
}

.caseyText {
  width: auto;
  max-width: 83%;
  background-color: #465684;
  color: #fff;
  border-radius: 10px 10px 10px 0;
  padding: 10px 16px 14px 16px;
  font-family: "Roboto", "Open Sans", Helvetica;
  font-size: 17px;
  opacity: 1;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.caseyText a {
  color: #fad6a5;
}

.fadeaway {
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

#caseyContainer .lp-json-pollock {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  margin-left: -3px;
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.statusRow .lp-json-pollock {
  margin-top: 35px;
}

.caseyTextContainer + .lp-json-pollock {
  margin-top: 0;
}

.caseyTextContainer + .caseyTextContainer {
  margin-top: 0;
}

#caseyContainer .lp-json-pollock-layout {
  display: flex;
  max-width: unset !important;
  border: none;
  flex-wrap: wrap;
  border: none !important;
  background: transparent !important;
  order: 1;
}

#caseyContainer .lp-json-pollock-element-button {
  display: flex;
  border-top: 0 !important;
  width: 70% !important;
  margin-bottom: 5px;
  margin-right: 20px;
  padding: 10px 20px 10px 20px;
  background-color: #4a61a9;
  cursor: pointer;
  opacity: 1;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

#caseyContainer .lp-json-pollock-element-button:hover {
  background-color: #334b94;
}

.fadeout {
  opacity: 0.3;
}


#caseyContainer .lp-json-pollock-element-text {
  background: #465684;
  border: none !important;
  border-radius: 10px 10px 10px 0;
  width: auto;
  max-width: 70%;
  font-family: "Roboto", "Open Sans", Helvetica;
  font-size: 17px !important;
  color: #fff !important;
  padding: 10px 16px 14px 16px !important;
  margin-bottom: 5px;
}

#caseyContainer .lp-json-pollock .lp-json-pollock-element-button button {
  padding: 0 !important;
  margin-bottom: 0 !important;
  font-size: 17px;
  font-family: "Roboto", "Open Sans", Helvetica;
  color: #fff !important;
  cursor: pointer;
}

#caseyContainer .lp-json-pollock .lp-json-pollock-element-button button:focus {
  outline: none;
  background: transparent;
}

.lp-json-pollock-layout-carousel-wrapper + .caseyAvatar {
  display: none;
}

#caseyContainer .lp-json-pollock-layout-carousel {
  display: flex !important;
}

#caseyContainer .lp-json-pollock-layout-carousel .lp-json-pollock-layout {
  display: flex !important;
  flex-direction: column;
  flex: 1;
  margin-left: 0 !important;
  margin-right: 10px !important;
}

#caseyContainer .lp-json-pollock-layout-carousel .lp-json-pollock-element-button {
  margin-right: 22px;
  padding: 15px 16px 14px 16px !important;
  display: flex;
  flex: 1;
  width: 85% !important;
  margin-top: 3px;
}

#caseyContainer .lp-json-pollock-layout-carousel .lp-json-pollock-element-button button {
  align-self: center;
}

#caseyContainer .lp-json-pollock-layout-carousel .lp-json-pollock-element-text {
  text-align: left;
  margin-bottom: 0;
  border-radius: 0;
  flex: 5;
  font-size: 14px !important;
  width: 85%;
  display: flex;
}

#caseyContainer .lp-json-pollock-layout-carousel .lp-json-pollock-element-text:first-child {
  font-size: 15px !important;
  font-weight: 500;
  margin-bottom: 1px;
  min-height: 62px;
}

#caseyContainer .lp-json-pollock .lp-json-pollock-layout-carousel-wrapper > .lp-json-pollock-layout-carousel-arrow {
  background-image: url(https://s3-eu-west-1.amazonaws.com/ce-sr/CA/right-arrow.png) !important;
  z-index: 0;
}

#caseyContainer .lp-json-pollock .lp-json-pollock-layout-carousel-wrapper .lp-json-pollock-element-text {
  padding: 10px 16px 5px 16px !important;
  width: 85%;
  max-width: 85%;
}

.consumerText {
  align-self: flex-end;
  background-color: transparent;
  color: #fff;
  border: solid 2px #b1b5bc;
  border-radius: 10px 10px 0 10px;
  padding: 10px 20px 10px 20px;
  font-family: "Roboto", "Open Sans", Helvetica;
  font-size: 17px;
  margin-right: 25px;
  max-width: 50%;
}

.inputcontainer {
  display: flex;
  margin-top: -10px;
  margin-bottom: 20px;
}

.taginputcontainer {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 20px;
}

.taginputcontainer .fas {
  color: #fff;
}

.taginputcontainer i {
  font-size: 20px;
}

.taginputcontainer .fa-check {
  display: none;
  margin-top: 12px;
  margin-left: 5px;
}

.taginputcontainer .fa-times {
  display: none;
  margin-top: 12px;
  margin-left: 5px;
}

.inputArea {
  display: flex;
}

#messageInput {
  width: 65%;
  height: 40px;
  border-radius: 6px 0 0 6px;
  border: solid 1px #90a6e6;
  background-color: rgba(227, 233, 249, 0.08);
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 20px;
}

#tagInput {
  width: 65%;
  height: 40px;
  border-radius: 6px 0 0 6px;
  border: solid 1px #90a6e6;
  background-color: rgba(227, 233, 249, 0.08);
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 20px;
}

#tagInput::after {
  height: 17px;
  align-self: center;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #5879da;
  padding: 14px 8px 14px 8px;
  border-radius: 0 6px 6px 0;
  margin-left: -1px;
  background-image: url(https://www.liveperson.com/sites/default/files/conv_page/send.png);
}

.magGlass {
  height: 17px;
  align-self: center;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #5879da;
  padding: 14px 8px 14px 8px;
  border-radius: 0 6px 6px 0;
  margin-left: -1px;
}

.submitContainer {
  height: 17px;
  align-self: center;
  display: flex;
  align-items: center;
  color: #fff;
  background-color: #5879da;
  padding: 14px 8px 14px 8px;
  border-radius: 0 6px 6px 0;
  margin-left: -1px;
}

.submitContainer img {
  width: 30px;
  cursor: pointer;
  opacity: 0.3;
}

#messageInputUsed {
  width: 65%;
  height: 40px;
  border-radius: 6px 0 0 6px;
  border: solid 1px #90a6e6;
  background-color: rgba(227, 233, 249, 0.08);
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 20px;
}

#tagInputUsed {
  width: 65%;
  height: 40px;
  border-radius: 6px 0 0 6px;
  border: solid 1px #90a6e6;
  background-color: rgba(227, 233, 249, 0.08);
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 15px;
  padding-left: 20px;
}

.statusRow {
  display: flex;
  color: #fff;
  justify-content: space-between;
  width: 77%;
}

.statusRow span {
  display: none;
  order: 2;
  font-family: "Roboto", "Open Sans", Helvetica;
  font-size: 14px;
  font-style: italic;
}

#messageInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#messageInput::-moz-placeholder { /* Firefox 19+ */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#messageInput:-ms-input-placeholder { /* IE 10+ */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#messageInput:-moz-placeholder { /* Firefox 18- */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#messageInputUsed::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#messageInputUsed::-moz-placeholder { /* Firefox 19+ */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#messageInputUsed:-ms-input-placeholder { /* IE 10+ */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#messageInputUsed:-moz-placeholder { /* Firefox 18- */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#tagInput::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#tagInput::-moz-placeholder { /* Firefox 19+ */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#tagInput:-ms-input-placeholder { /* IE 10+ */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#tagInput:-moz-placeholder { /* Firefox 18- */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#tagInputUsed::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#tagInputUsed::-moz-placeholder { /* Firefox 19+ */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#tagInputUsed:-ms-input-placeholder { /* IE 10+ */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}

#tagInputUsed:-moz-placeholder { /* Firefox 18- */
  color: #d8dadd;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 15px;
  font-style: italic;
}


.caseyAvatar {
  margin-left: -45px;
  margin-right: 10px;
  margin-bottom: -10px;
  align-self: flex-end;
  width: 31px;
  opacity: 0;
  -webkit-transition: opacity 0.35s ease;
  -moz-transition: opacity 0.35s ease;
  -o-transition: opacity 0.35s ease;
  transition: opacity 0.35s ease;
}

.scAvatar {
  margin-left: -45px;
  margin-right: 0;
  align-self: flex-start;
  margin-top: -45px;
  margin-bottom: 10px;
  width: 31px;
}

.gooey {
  position: relative;
  width: auto;
  height: 45px;
  background: #465684;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.dots {
    display: flex;
    margin-right: 15px;
}

.dots span {
  display: block;
  /* float: left; */
  width: 8px;
  height: 8px;
  margin-left: 4px;
  background: #fff;
  border-radius: 50%;
  animation: dots 0.9s infinite;
}

.dots span:nth-child(1) {
  margin-left: 16px;
}

.dots span:nth-child(2) {
  animation-delay: .2s;
}

.dots span:nth-child(3) {
  animation-delay: .4s;
}

@keyframes dots{
  50% {transform: translateY(-5px)}
}

#resetcontainer {
  position: sticky;
  top: 160px;
  height: 20px;
  color: #fff;
  font-family: "Roboto", "Open Sans", Helvetica;
  font-size: 16px;
  font-weight: bold;
  background-color: #5879da;
  border-radius: 100px 0px 0px 100px;
  padding: 10px 5px 10px 20px;
  cursor: pointer;
}

.caseyTypingContainer {
  display: flex;
  margin-bottom: 20px;
  margin-top: 20px;
}

.typingindicator {
  width: 80px;
  height: 35px;
  border-radius: 10px 10px 10px 0;
  padding: 5px;
  display: flex;
  background-color: #465684;
  align-items: center;
  justify-content: center;
}

.typingindicator span {
  height: 12px;
  width: 12px;
  margin: 0 1px;
  border: solid 3px #5586ff;
  background-color: #e3f4f0;
  display: block;
  border-radius: 50%;
}

.searchButton {
  background: transparent;
  margin-top: -50px;
  margin-left: -5px;
}

.searchButton button {
  font-size: 14px;
  opacity: 0.8;
  text-align: left !important;
}

.searchButton button::before {
  content: "<";
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 15px;
  color: #fff;
  opacity: 0.8;
  margin-right: 5px;
  margin-left: -15px;
}

.searchButton:hover {
  background: transparent;
}

.caseyPortrait:hover {
  /* Start the shake animation and make the animation last for 0.5 seconds */
  animation: shake 0.5s;

  /* When the animation is finished, start again */
  /* animation-iteration-count: infinite; */
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.spinner {
  position: relative;
  width: 55px;
  height: 45px;
  display: none;
}
.spinner:before, .spinner:after {
  content: "";
  display: block;
  position: absolute;
  border-width: 4px;
  border-style: solid;
  border-radius: 50%;
}

/* spinner-1 styles */
@-webkit-keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes anti-rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
@keyframes anti-rotate-animation {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(-360deg);
            transform: rotate(-360deg);
  }
}
.spinner.spinner-1:before {
  width: 27px;
  height: 27px;
  border-bottom-color: #fff;
  border-right-color: #fff;
  border-top-color: rgba(33, 33, 33, 0);
  border-left-color: rgba(33, 33, 33, 0);
  top: 0px;
  left: 0px;
  margin-left: 10px;
  margin-top: 5px;
  -webkit-animation: rotate-animation 1s linear 0s infinite;
          animation: rotate-animation 1s linear 0s infinite;
}
.spinner.spinner-1:after {
  width: 81.9px;
  height: 81.9px;
  border-bottom-color: transparent;
  border-right-color: transparent;
  border-top-color: rgba(33, 33, 33, 0);
  border-left-color: rgba(33, 33, 33, 0);
  top: 17.55px;
  left: 17.55px;
  -webkit-animation: anti-rotate-animation 0.85s linear 0s infinite;
          animation: anti-rotate-animation 0.85s linear 0s infinite;
}

/* bot specific media queries */

@media screen and (max-width: 450px) {
  .botwrapper #defaultheader {
    box-shadow: none;
  }

  #caseyContainer {
  width: 95%;
  margin-left: 50px;
  z-index: 1;
}

  #resetcontainer {
    /* grid-row: 1 / span 1; */
    /* grid-column: 7; */
    position: absolute;
    top: 90px;
    border-radius: 0px;
    width: 100%;
    /* text-align: center; */
    padding: 0;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #caseyContainer .lp-json-pollock .lp-json-pollock-layout-carousel-wrapper {
    width: 90%;
  }

  #botLoader {
    margin-left: 40px;
  }
}
