* {
  margin: 0;
}

html {
  width: 100%;
  height: auto;
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

p {
  margin-bottom: 25px;
  font-family: "Roboto", "Open Sans", Helvetica;
  color: #272727;
}

p + ul {
  margin-top: -10px;
}

#post-content ul li {
  margin-bottom: 10px;
}

#post-content ol li {
  margin-bottom: 10px;
}

#post-content ol ol {
  list-style-type: lower-latin;
}

#post-content ol ol ol {
  list-style-type: lower-roman;
}

#post-content table {
  width: 100%;
  max-width: 130%;
  margin-top: 10px;
  margin-bottom: 45px;
  -webkit-border-horizontal-spacing: 0px;
  -webkit-border-vertical-spacing: 0px;
}

.bigtable {
  max-width: initial;
}

#post-content table td {
  border-right: 1px solid #dedddd;
}

#post-content table td:last-child {
  border-right: 0;
}

#post-content table td:first-child {
  width:unset;
  /*max-width: 150px;*/
  font-weight: bold;
}

#post-content table tbody tr:only-child {
  background-color: #f8f8f8;
}

#post-content table tr:nth-child(even) {
  background-color: #F8F8F8;
}

#post-content table tr td {
   font-size: 12px;
   font-family: "Open Sans";
   color: #666666;
   line-height: 1.8;
   max-width: 160px;
   hyphens: none;
   padding: 21px 25.5px 21px 23px;
   vertical-align: inherit;
   text-align: center;
}

#post-content table > thead > tr > th {
  font-family: "Open Sans";
  font-weight: 600;
  color: #fff;
  font-size: 14px;
  padding: 14px 22px;
  background-color: #2A3A6B;
  border-right: 1px solid #dedddd;
}

#post-content table > thead > tr > th:last-child {
  border-right: 0;
}



p img {
  margin: 0 auto;
  display: block;
  box-shadow: 0 0 9px 3px rgba(0, 0, 0, 0.07);
  margin-top: 20px;
}

.inlineimage {
  width: 40px;
  vertical-align: bottom;
}

.sidebyside {
  display: flex;
}

.sidebyside img {
  width: 30%;
  height: 30%;
  margin-right: 40px;
}

h2 {
  font-family: "Roboto", "Open Sans", Helvetica;
  margin-bottom: 25px;
  margin-top: 45px;
  font-weight: 500;
  font-size: 24px;
}

h3 {
  font-family: "Roboto", "Open Sans", Helvetica;
  margin-bottom: 25px;
  margin-top: 25px;
  font-weight: 500;
  font-size: 18px;
  color: #5879da;
}

h4 {
  margin-bottom: 10px;
  margin-top: 25px;
}

#post-content iframe {
  width: 100%;
  height: 500px;
}

.h1 {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 500;
  color: #5879da;
}


/* CSS-Grid Begins */

@supports (display: grid) {

  #defaultwrapper {
    display: grid;
    grid-template-columns: 2.5fr 0.5fr 0.5fr 5fr 3fr 1fr 0.5fr;
    grid-template-rows: 120px auto 92px 1fr 50px;
    height: auto;
    min-height: 100vh;
  }

  #defaultheader {
    display: grid;
    grid-template-columns:  20px auto;
    grid-template-rows: 1fr 2fr 1fr;
    grid-column: 1 / span 7;
    grid-row: 1 / span 1;
  }

  #documenttitlecontainer {
    grid-column: 3 / span 5;
    grid-row: 2 / span 2;
  }

  #searchimage {
    background-color: #f2f1f2;
    grid-column: 1;
    grid-row: 1 / span 1;
    z-index: 1;
    height: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
  }

  #defaultsidebar {
    grid-column: 1 / span 2;
    grid-row: 2 / span 3;
    background-color: #fff;
    display:flex;
    flex-direction: column;
  }

  #defaultcontent {
    grid-column: 4 / span 3;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    -webkit-font-smoothing: antialiased;
    margin-top: 30px;
    font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
    color: #272727;
    line-height: 24px;
  }

  #defaultfooter {
    grid-row: 5 / span 1;
    grid-column: 1 / span 7;
    background-color: #e9e9e9;
  }
}


/* CSS-Grid Ends */

#maincontent {
  display: flex;
}

.pagehr {
  height: 1px;
  background-color: #dedddd;
}

ul.mysidebar.nav {
  width: 100%;
}

ul.mysidebar.nav > li:first-of-type {
  margin-top: 15px;
}

.anchorlist {
  width: 30%;
  order: 2;
  margin-top: 55px;
  margin-left: 190px;
}

.anchortitle {
  display: none;
  margin-left: 54px;
  font-size: 12px;
  color: #5f6368;
  font-weight: 300;
  position: sticky;
  top: 130px;
}

.anchorlist ul {
  position: sticky;
  top: 155px;
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.anchorlist ul li {
  list-style: none;
  margin-bottom: 10px;
}

.anchoritem {
  text-decoration: none;
  color: #84a3ea;
  font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
  font-size: 14px;
  padding-left: 10px;
  display: block;
}

.anchorlist ul li a.active {
  font-weight: bold;
  border-left: 4px solid #5879da;
  color: #5879da
}

 #jumptotop a {
   text-decoration: none;
   color: #84a3ea;
   font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
   font-size: 14px;
   padding-left: 10px;
   font-weight: bold;
   display: block;
}

#post-content {
  width: 60%;
}

#defaultheader {
  background-color: #2A3A6B;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  z-index: 1;
}

.mobileheader {
  display: none;
}

#documenttitlecontainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-bottom: 1px solid #dedddd;
  padding-left: 75px;
}

.documenttitle {
  margin-top: 50px;
}

.suggestbutton {
  align-self: flex-end;
  margin-right: 10px;
  margin-bottom: 5px;
}

.suggestbutton a {
  color: #5879da;
  text-decoration: none;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
}

.suggestbutton a span {
  margin-left: 5px;
}

#subtitle {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  font-weight: 300;
  color: #1e1e1e;
  margin-bottom: 15px;
  margin-top: 15px;
}

/* bread-crumbs */

/* from Twitter Bootstrap */

.breadcrumb {
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  list-style: none;
  border-radius: 0.25rem;
  background-color:transparent;
}

.breadcrumb::after {
  content: "";
  display: table;
  clear: both;
}

.breadcrumb-item {
  float: left;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: underline;
}

.breadcrumb-item + .breadcrumb-item:hover::before {
  text-decoration: none;
}

.breadcrumbs .breadcrumb-item.no-after::after{
  content: '';
}

.breadcrumb-item.active {

}

/* Additions: image integration */

.breadcrumbs {
  padding-left: 0;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
}

.breadcrumbs::after {
  content: "";
  display: table;
  clear: both;
}

.breadcrumbs .breadcrumb {
  padding: 0;
  margin-bottom: 0;
  border: none;
  display: inline-block;
  float: left;
}

.breadcrumbs .breadcrumb-item {
  font-size: 0.9em;
  color:#5f6368;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
}

.breadcrumbs a.breadcrumb-item:after {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f105";
  padding-right: 1em;
  padding-left: 1em;
  color: #999999;
  text-decoration: none;
}

.breadcrumbs .icon {
  display: inline-block;
}

.breadcrumbs .icon svg {
  height: 0.7rem;
  width: 0.7rem;
}

/* bread-crumbs end */

/*CSS for general styling of Chat/Messaging Indicator*/

#indicatorrow {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

#lastmodified {
  font-family: "Roboto", "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #5f6368;
}

#indicators {
  display: flex;
}

.indicator{
  color: #8b8b8b;
  background-color: #f2f1f2;
  font-size: 12px;
  padding: 2px 4px;
  margin-bottom: 2px;
  font-family: "Roboto", "Roboto Slab", Arial, Helvetica, sans-serif;
  cursor: default;
  height: 15px;
  align-self: center;
  margin-left: 13px;
}

.indicator:nth-child(3) {
  margin-left: 10px;
}

/*CSS for specific styling of Chat Indicator*/
.chat{
  border-left: solid 2px #5879da;
}

.messaging{
  border-left: solid 2px #162036;
}

.pagehr {
  border-bottom: 1px solid #dedddd;
}

#defaultsidebar {
  border-right: 1px solid #dedddd;
  height: 100%;
}

.normalLink {
  text-decoration: none;
  color: #5f6368;
}

.normalLink .activeitem {
  font-weight: normal;
  color: inherit;
}

#mysidebar {
  list-style: none;
  position: sticky;
  top: 160px;
  align-items: baseline;
  height: 78vh;
  overflow-y: auto;
  padding-left: 70px;
}

.sidebarbuttoncontainer.canOpen {
  padding-left: 12px;
}

.itemdetails, .sidebarbuttoncontainer, .pageitem {
  cursor: pointer;
}

.categoryfolder {
  font-family: "Roboto", "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5f6368;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  line-height: 2.3;
}

.categorylist {
  display: none;
  padding-inline-start: 0;
  padding-left: 2px;
}

.itemdetails {
  display: flex;
  align-items: center;
  margin-top: -12px;
}

.itemdetails:first-of-type {
  margin-top: 0;
}

.sidebarimage {
  margin-right: 10px;
  width: 26px;
}

.subcategoryfolder {
  list-style: none;
  display: none;
  padding-inline-start: 0;
  padding-left: 25px;

}

.subcategoryitem {
  font-family: "Roboto", "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5f6368;
  margin-left: -11px;
  display: flex;
  flex-direction: column;
}

.subcategoryitem a {
  font-family: "Roboto", "Roboto Slab", Arial, Helvetica, sans-serif;
  font-size: 14px;
  color: #5f6368;
  text-decoration: none;
  line-height: 1.2;
  margin-bottom: 12px;
  margin-top: 12px;
}

.pagesfolder {
  display: none;
  padding-inline-start: 0;
  padding-left: 45px;
  line-height: 2.2;
}

.pageitem {
  list-style: none;
  line-height: 1.5;
  margin-bottom: 12px;
  margin-top: 12px;
}


.pageitem.nobuttons {
  padding-left: 45px;
}

.categoryfolder .activeitem {
  font-weight: bold;
  color: #272727;
}

.subcategoryitem .activeitem {
  color: #5879DA;
}

.pageitem .activeitem {
  color: #5879da;
}

.level3folder {
  list-style: none;
  line-height: 2.3;
  padding-left: 0;
  margin-left: 42px;
  display: none;
}

.level3item {
  border-left: 4px solid #dedddd;
  padding-left: 15px;
  list-style: none;
  height: 30px;
}

.subcategorycontainer {
  display: flex;
  align-items: center;
}

.subcategorycontainer span:first-of-type {
  padding-top: 2px;
}

.sidebarbuttoncontainer {
  display: flex;
  align-items: center;
  padding-left: 45px;
}

.sidebarbutton {
  color: #f2f1f2;
  width: 20px;
  height: 20px;
  border: 0;
  font-size: 1.5em;
  position: relative;
  align-self: center;
  margin-right: 13px;
}

.sidebarbutton:focus {
  outline: none;
}

.sidebarbutton span {
  position: absolute;
  transition: .3s;
  background: #afafaf;
}

.sidebarbutton span:first-of-type {
  top: 25%;
  bottom: 25%;
  width: 10%;
  left: 45%;
}

.sidebarbutton span:last-of-type {
  left: 25%;
  right: 25%;
  height: 10%;
  top: 45%;
}

.activeitem button span:first-of-type, .clicked span:last-of-type {
  transform: rotate(90deg);
}

.activeitem button span:last-of-type {
  left: 50%;
  right: 50%;
}

.sidebarhr {
  background-color: #dedddd;
  height: 1px;
  margin-top: 20px;
  margin-bottom: 20px;
  border: none;
  margin-right: 20px;
}

#defaultfooter {
  align-items: center;
  justify-content: center;
  background-color: #162036;
  display: flex;
  flex-direction: column;
}

#listrow {
  display: flex;
  margin-top: 10px;
}

.footertitle {
  font-size: 18px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 15px;
}

.footerlist {
  list-style: none;
  font-size: 14px;
  font-family: "Open Sans", "Roboto", Helvetica, sans-serif;
  padding-left: 0;
  color: #eef0f1;
  font-weight: 300;
  margin-right: 55px;
  margin-top: 15px;
  line-height: 1.86;
}

.footerhr {
  height: 1px;
  width: 40%;
  background-color: #eef0f1;
  margin-top: 20px;
  margin-bottom: 10px;
  border: 0px solid #fff;
}

#footerbottomrow {
  display: flex;
}

#footertext {
  color: #eef0f1;
  flex:1;
  font-family: "Open Sans";
}

#footertext a {
  color: #eef0f1;
  text-decoration: none;
  margin-right: 5px;
}

#footericons {
  display: flex;
  align-items: center;
}

#footericons a {
  color: #eef0f1;
  margin-right: 10px;
}

#footericons a:first-child {
  margin-left: 15px;
}

.important {
  border-left-color: #f66;
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 1.71;
  color: #4a4a4a;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-left: 15px;
}

.important::before {
  content: "\f06a";
  color: #f88181;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
  font-weight: 900;
  margin-right: 5px;
  position: relative;
  top: 1px;
}

.important p:not(:first-child) {
  margin-left: -25px;
}

.notice {
  border-left-color: #5879DA;
  padding: 12px 24px 12px 30px;
  margin: 2em 0;
  border-left-width: 4px;
  border-left-style: solid;
  background-color: #f8f8f8;
  font-size: 16px;
  line-height: 1.71;
  color: #4a4a4a;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  padding-left: 15px;
}

.notice::before {
  content: "\f06e";
  color: #3d5498;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
  margin-right: 10px;
  position: relative;
  top: 1px;
}

/* A few Algolia corrections to contradict home.css */

.algolia-autocomplete {
  margin-top: 0;
}

.aa-input-search {
  padding-left: 31px;
}

.algolia-autocomplete .aa-dropdown-menu {
  width: 102.8%
}

.algolia-autocomplete .aa-dropdown-menu {
  height: auto;
  max-height: 70vh;
}

/* Explorer rules because the internet is fake */

#hometitleexplorer {
  margin-bottom: 345px;
}

#homeheaderexplorer {
  display: flex;
  justify-content: center;
}

#homenavexplorer {
  width: 100%;
  display: flex;
}

.defaultwrapperExplorer {
 display: -ms-grid;
 -ms-grid-rows: 120px 140px 92px 1fr 50px;
 -ms-grid-columns: 2.5fr 0.5fr 0.5fr 5fr 3fr 1fr 0.5fr;
 height: auto;
 min-height: 100vh;
}

.defaultwrapperExplorer #defaultheader {
  -ms-grid-column: 1;
  -ms-grid-column-span: 7;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
}

.defaultwrapperExplorer #documenttitlecontainer {
  -ms-grid-column: 3;
  -ms-grid-column-span: 5;
  -ms-grid-row: 2;
  -ms-grid-row-span: 2;
}

.defaultwrapperExplorer #defaultsidebar {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 3;
  background-color: #fff;
  display:flex;
  flex-direction: column;
}

.defaultwrapperExplorer #defaultsidebar #mysidebar {
  margin-top: 50px;
}

.defaultwrapperExplorer #defaultcontent {
  -ms-grid-column: 4;
  -ms-grid-column-span: 3;
  -ms-grid-row: 4;
  display: flex;
  margin-bottom: 50px;
  -webkit-font-smoothing: antialiased;
  margin-top: 30px;
  font-family: "Roboto", "Open Sans", Arial, Helvetica, sans-serif;
  color: #272727;
  line-height: 24px;
}

.defaultwrapperExplorer #defaultcontent .anchorlist {
  right: 0;
}

.defaultwrapperExplorer   #defaultfooter {
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 7;
    align-items: stretch
  }

  .defaultwrapperExplorer #defaultfooter #footerbottomrow {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 50px;
  }

  .defaultwrapperExplorer #defaultfooter #footericons {
    margin-right: 50px;
  }

/* CSS for the features and metrics tables */

#featurestable {
  width: 180%;
  max-width: none;
}

#featurestable table tr td {
  text-align: left;
}

#featurestable td:first-child {
  min-width: 150px;
}

#featurestable thead > tr > th {
  padding: 14px 10px;
  text-align: center;
}

#featurestable thead > tr > th:first-child {
  width: 13%;
}

#featurestable tr td {
  vertical-align: middle;
}

#featurestable .green {
  color: green;
}

#featurestable .yellow {
  color: yellow;
}

#featurestable .red {
  color: red;
}

.tooltipicon {
  font-size: 8px;
  color: #666;
  position: absolute;
  margin-left: 2px;
}

.tooltipicon:hover .tooltipinfo {
  display: flex;
}

.tooltipinfo {
  display: none;
  background-color: #162036;
  color: #fff;
  font-size: 14px;
  padding: 10px;
  border-radius: 3px;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  margin-top: 9px;
  margin-left: -8.1px;
}

.tooltipinfo::before {
  content: " ";
  position: absolute;
  bottom: 65%;
  left: -9px;
  margin-left: 5.4px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

#capabilitiesSearch {
  width: 25.5%;
  padding: 5px;
  padding-left: 10px;
  margin-top: 10px;
  border: 1px solid #272727;
  font-size: 14px;
}


.categoryrow {
  background-color: #162036 !important;
}

.categoryrow td {
  border-right:solid 0px #fff !important;
  color: #fff !important;
}

.categoryrow td:first-child {
  padding: 12px 25.5px 10px 23px;
}

.tableIcon {
  width: 24px;
  margin: 0 20px 0 24px;
}


.metricstable {
  width: 150% !important;
  max-width: none !important;
}

#metrics {
  width: 109%;
}

#metricsSearch {
  width: 30.5%;
  padding: 5px;
  padding-left: 10px;
}

#feedback {
  border-top: 1px solid #dedddd;
  padding-top: 25px;
  width: 60%;
}

.feedbacktitle {
  font-family: "Roboto", "Open Sans", Helvetica;
  font-weight: 500;
  font-size: 22px;
  color: #5879DA;
}

#feedback .notice {
  border-left-color: black;
  margin: 15px 0;
  margin-top: -10px;
}

#feedback .notice::before {
  content: "\f059";
  color: black;
}

/* media queries begin, abandon all hope ye who enter here */

@media screen and (max-width:1440px){

  #documenttitlecontainer {
    padding-left: 55px;
  }

  #homebuttons {
    flex: unset;
    margin-left: 50px;
  }

  #post-content {
    width: 100%;
  }

  .anchorlist {
    margin-left: 0px;
  }

  #mysidebar {
    padding-inline-start: 0;
    padding-left: 20px;
  }

  .sidebarbuttoncontainer {
    padding-left: 43px;
  }

  .categoryfolder {
    font-size: 12px;
  }

  .subcategoryitem {
    font-size: 12px;
  }

  .subcategoryitem a {
    font-size: 12px;
  }

  #feedback {
    width: 77%;
  }
}

@media screen and (max-width: 1610px) {
  .algolia-autocomplete {
    flex: 3;
  }
}

@media screen and (max-width: 1040px) {
  .anchorlist {
    display: none;
  }
}

@media screen and (max-width: 570px) {
  #footertext {
    font-size: 13px;
  }
}

@media screen and (max-width: 450px) {
  #defaultsidebar {
    display: none;
    grid-column: unset;
    position: absolute;
    width: 100%;
  }

  #mysidebar {
    padding-top: 20px;
  }

  #documenttitlecontainer {
    grid-column: 1 / span 5;
    padding-left: 0;
    margin-left: 20px;
  }

  #defaultcontent {
    grid-column: 1 / span 5;
    margin-left: 20px;
  }

  .anchorlist {
    display: none;
  }

  #postcontent {
    width: 150%;
}

  #logocontainer {
    margin-left: 20px;
    order: 1;
  }

  .algolia-autocomplete {
    display: none !important;
  }

  #homebuttons {
    display: none;
  }

  .mobileheader {
    display: flex;
    align-items: center;
    margin-right: 20px;
    order: 2;
  }
}
