* {
  margin: 0;
}

html {
  width: 100%;
  height: auto
}

body {
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

/*CSS Grid Begins */

@supports (display: grid) {

  #homewrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 150px 730px 720px 640px 50px;
    grid-template-columns: repeat(4, 2fr);
  }

  #homenav {
    display:flex;
    width: 100%;
    grid-row: 1 / 2;
  }

  #homeheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-row: 1 / 3;
    grid-column: 1 / span 4;
  }

  #homehero {
    width: 100%;
    grid-row: 3 / 4;
    grid-column: 1 / span 4;
  }

  #homepanel {
    width: 100%;
    grid-row: 4 / 5;
    grid-column: 1 / span 4;
  }

  #homefooter {
    width: 100%;
    grid-row: 5 / 6;
    display: flex;
    grid-column: 1 / span 4;
  }
}

#homeheader {
  align-items: center;
  background: center no-repeat url(img/BG.jpg);
  background-size: cover;
}

#homenav {
  justify-content: center;
  flex-direction: column;
}

#topnav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

#homebuttons {
  display: flex;
  justify-content: flex-end;
  flex: 1;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  color: #fff;
  font-size: 18px;
}

.homebutton a {
  text-decoration: none;
  color: inherit;
}

#contact {
  margin-right: 44px;
}

#login {
  margin-right: 70px;
}

#logocontainer {
  flex: 1;
  display: flex;
  margin-left: 70px;
}

#hometitle {
  display: flex;
  flex-direction: column;
  font-size: 35px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  color: #fff;
  width: 33%;
  align-self: center;
  margin-left: -350px;
  margin-top: 180px;
}

#homesubtitle {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  color: #fff;
  line-height: 1.5;
  margin-top: 25px;
}

#homehero {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 40px;
  background-color: #fff;
  color: black;
}

#readourarticles {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Roboto Slab", "Roboto", Helvetica, sans-serif;
  font-size: 28px;
  color: #FF670E;
  font-weight: 300;
  margin-top: 25px;
  margin-bottom: 50px;
}

#readourarticles .fa-angle-double-down {
  margin-top: 15px;
}

#boxesrow {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 60px;
}

.mainboxwrapper {
  flex: 1;
  margin-right: 42px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.05);
  height: 390px;
}

.mainboxwrapper:last-of-type {
  margin-right: 0;
}

#boxesrow .mainbox {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: normal;
  font-size: 30px;
  color: #fff;
  font-family: "Roboto Slab", "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  width: 390px;
  z-index: 2;
  cursor: pointer;
}

#boxesrow .mainboxwrapper:nth-child(1) .mainbox.closed {
  background-color: #5879da;
  height: 390px;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#boxesrow .mainboxwrapper:nth-child(1) .mainbox.closed:hover {
  background-color: #5879da;
  height: 370px;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

#boxesrow .mainboxwrapper:nth-child(2) .mainbox.closed {
  background-color: #162036 ;
  height: 390px;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#boxesrow .mainboxwrapper:nth-child(2) .mainbox.closed:hover {
  background-color: #162036 ;
  height: 370px;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}

#boxesrow .mainboxwrapper:nth-child(3) .mainbox.closed {
  background-color: #FF670E;
  height: 390px;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#boxesrow .mainboxwrapper:nth-child(3) .mainbox.closed:hover {
  background-color: #FF670E ;
  height: 370px;
  -webkit-transition: height 0.5s ease;
  -moz-transition: height 0.5s ease;
  -o-transition: height 0.5s ease;
  transition: height 0.5s ease;
}



#boxesrow .mainboxwrapper:nth-child(1) .mainbox {
  background-color: #5879da;
  height: 100px;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#boxesrow .mainboxwrapper:nth-child(2) .mainbox  {
  background-color: #162036 ;
  height: 100px;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

#boxesrow .mainboxwrapper:nth-child(3) .mainbox {
  background-color: #FF670E;
  height: 100px;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

.edgeBox {
  height: unset !important;
}

.edgeBox .linkbox {
  margin-top: 160px;
}


#boxesrow .mainbox:last-child {
  margin-right: 0;
}

.mainbox span {
  padding-left: 50px;
}

.mainbox img {
  align-self: flex-end;
  width: 10%;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.mainbox.closed img {
  width: 40%;
  -webkit-transition: width 0.35s ease;
  -moz-transition: width 0.35s ease;
  -o-transition: width 0.35s ease;
  transition: width 0.35s ease;
}

.closed .bigspan {
  font-size: 50px;
  margin-top: -27px;
  -webkit-transition: font-size 0.35s ease;
  -moz-transition: font-size 0.35s ease;
  -o-transition: font-size 0.35s ease;
  transition: font-size 0.35s ease;
}

.bigspan {
  font-size: 30px;
  margin-top: -27px;
  -webkit-transition: font-size 0.35s ease;
  -moz-transition: font-size 0.35s ease;
  -o-transition: font-size 0.35s ease;
  transition: font-size 0.35s ease;
}

.mainboxtext {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}

button.open-close {
  width: 36px;
  height: 36px;
  background-color: #171F36;
  padding: 0;
  border-radius: 100%;
  background-image: url(img/icon-open.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.2s ease;
  transform: rotate(45deg);
  border-color: inherit;
  outline: none;
  align-self: flex-end;
  margin-top: 20px;
  margin-right: 20px;
  cursor: pointer;
}

.closed button.open-close {
      transform: rotate(0deg);
}

.closed .linkbox {
  -webkit-transition: opacity 0.15s ease-out;
  -moz-transition: opacity 0.15s ease-out;
  -o-transition: opacity 0.15s ease-out;
  transition: opacity 0.15s ease-out;
  pointer-events: none;
  cursor: default;
  margin-top: 115px;
  position: absolute;
  opacity: 0;
}

.linkbox {
  opacity: 1;
  -webkit-transition: opacity 0.5s ease-out;
  -moz-transition: opacity 0.5s ease-out;
  -o-transition: opacity 0.5s ease-out;
  transition: opacity 0.5s ease-out;
  margin-top: 115px;
  position: absolute;
  font-weight: 500;
}

.linkbox li {
  list-style: none;
}

.linklist {
  margin-left: 15px;
}


a.mainlink {
  color: #272727;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  text-decoration: none;
  z-index: 10;
}

a.mainlink:hover {
  color: #5879da;
}

#allarticlesrow {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  color: #FF670E;
}

#allarticlesbox {
  padding: 15px 72px;
  border: 1px #FF670E solid;
  margin-bottom: 60px;
  text-decoration: none;
  color: inherit;
}

#homepanel {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #272727;
  display: flex;
  flex-direction: column;
}

#announcementcontainer {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 20px;
  color: #f66;
  font-style: italic;
  display: none;
  margin-bottom: 120px;
}

#panelcontentcontainer {
  display: flex;
  margin-top: -35px;
}

#leftcontainer {
  display: flex;
  flex-direction: column;
}

#leftcontainer .seeallbox {
  margin-top: 62px;
}

#paneltitle {
  font-size: 28px;
  font-family: "Roboto Slab", "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  color: #272727;
  margin-bottom: 25px;
  margin-top: 35px;
}

#newslettercontainer {
  background-color: #ffffff;
  height: 319px;
  width: 380px;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}

#newslettertitle {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 13px;
  font-weight: bold;
  color: #5879da;
  margin-top: 15px;
}

#newsletterdate {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: #272727;
}

.panelhr {
  height: 5px;
  width: 15px;
  background-color: #5879da;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 0;
}

.close {
  margin-top: 5px;
  margin-bottom: 5px;
}

#middlecontainer {
  display: flex;
  flex-direction: column;
  padding-top: 75px;
  margin-left: 52px;
  margin-right: 52px;
}

#middlecontainer .seeallbox {
  margin-top: 62px;
}

.newfeaturelink {
  text-decoration: none;
}

.newfeaturecontainer {
  display: flex;
  flex-direction: column;
  width: 380px;
  height: 150px;
  background-color: #fff;
  margin-top: 20px;
  padding-left: 20px;
}

.newfeaturetitle {
  font-size: 13px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-weight: bold;
  color: #5879da;
  margin-top: 25px;
}

.newfeaturesubtitle {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: #272727;
  padding-right: 30px;
  margin-top: 10px;
}

.newfeaturesummary {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 14px;
  color: #6f6f6f;
  line-height: 1.57;
}

.readmore {
  text-decoration: none;
  font-style: italic;
  font-weight: 300;

}

#rightcontainer {
  display: flex;
  flex-direction: column;
}

#secondpaneltitle {
  font-size: 28px;
  font-family: "Roboto Slab", "Open Sans", Helvetica, sans-serif;
  font-weight: 300;
  color: #272727;
  margin-bottom: 23px;
  padding-top: 35px;
}

#releasenotescontainer {
  display: flex;
  flex-direction: column;
}

.releasenoteslink {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  width: 379px;
  height: 65px;
  margin-bottom: 20px;
  padding-left: 20px;
  text-decoration: none;
}

.releasenotestitle {
  font-size: 13px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-weight: bold;
  color: #5879da;
  padding: 10px 28px 10px 0px;
}

.releasenotesdate {
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: #272727;
  padding: 0px 28px 10px 0px;
}

.seeallbox {
  flex: 1;
  width: 260px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  font-size: 16px;
  color: #5879da;
  padding: 15px 44.5px;
  border: 1px solid #5879da;
  text-align: center;
  align-self: center;
  margin-top: 40px;
  max-height: 20px;
  height: 20px;
}

.seeallbox:last-child {
  margin-top: 42px;
}

#homefooter {
  align-items: center;
  justify-content: center;
  background-color: #162036;
  display: flex;
  flex-direction: column;
}

#listrow {
  display: flex;

}

.footertitle {
  font-size: 18px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  color: #fff;
  margin-bottom: 15px;
}

.footerlist {
  list-style: none;
  font-size: 14px;
  font-family: "Open Sans", "Roboto", Helvetica, sans-serif;
  padding-left: 0;
  color: #eef0f1;
  font-weight: 300;
  margin-right: 55px;
  margin-top: 15px;
  line-height: 1.86;
}

.footerhr {
  height: 1px;
  width: 40%;
  background-color: #eef0f1;
  margin-top: 20px;
  margin-bottom: 20px;
  border: 0px solid #fff;
}

#footerbottomrow {
  display: flex;
}

#footertext {
  color: #eef0f1;
  font-family: "Open Sans";
}

#footertext a {
  color: #eef0f1;
  text-decoration: none;
  margin-right: 5px;
}

#footericons a {
  color: #eef0f1;
  margin-right: 5px;
}

#footericons a:first-child {
  margin-left: 15px;
}


/* Search Styling Begins */

.algolia-autocomplete {
  margin-top: 43px;
}

.ds-dropdown-menu {
  margin-top: -32px !important;
  margin-left: 3px !important;
  height: 403px !important;
}

.aa-input-search {
  width: 100%;
  height: 48px;
}

#aa-search-input {
  height: 48px;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px #fff solid;
  padding-left: 22px;
  padding-right: 10px;
  width: 100%;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #fff;
  font-style: italic;
  font-weight: 300;
}

#aa-search-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}
#aa-search-input::-moz-placeholder { /* Firefox 19+ */
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

#aa-search-input:-ms-input-placeholder { /* IE 10+ */
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

#aa-search-input:-moz-placeholder { /* Firefox 18- */
  color: #fff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 300;
  font-size: 16px;
  font-style: italic;
}

.algolia-autocomplete .ds-dropdown-menu [class^=ds-dataset-] {
  border: none !important;
}

.algolia-autocomplete .ds-dropdown-menu {
  max-width: unset !important;
  min-width: unset !important;
  width: 99.5%;
  top: 169% !important;
  margin-right: 0 !important;
  height: 80vh !important;
  overflow-y: scroll;
  background: white;
}


.overlayvisible {
  opacity: 0.5;
  -webkit-transition: opacity .10s ease-in-out;
  transition: opacity .10s ease-in-out;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content {
  font-size: 15px !important;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #6f6f6f;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column {
  font-size: 16px !important;
  font-family: "Roboto Slab", Arial, Helvetica, sans-serif;
  color: #5879da !important;;
  width: 60% !important;
  text-align: left !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--wrapper {
  display: flex;
  flex-direction: column;
}

.algolia-autocomplete .algolia-docsearch-suggestion--category-header {
  font-size: 20px !important;
  border-bottom: unset;
  margin-top: none;
  width: 45%;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
}

.algolia-autocomplete .algolia-docsearch-suggestion--subcategory-column:before {
  background-color: #fff !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--content:before {
  background-color: #fff !important;
}

.algolia-autocomplete .algolia-docsearch-suggestion--highlight {
  background: rgba(0, 119, 255, 0.1) !important;
  font-weight: bold;
  color: inherit;
}

.algolia-autocomplete .algolia-docsearch-suggestion--title {
  color: #6f6f6f;
}

.algolia-autocomplete .algolia-docsearch-suggestion .algolia-docsearch-suggestion--subcategory-column:after {
  content: none !important;
}

.ds-suggestion a {
  text-decoration: none;
}

/* Search Styling Ends */

/* explorer nonsense */

.homenavexplorer {
  display: flex;
}

.hometitleexplorer {
  margin-left: 0 !important;
  margin-bottom: 230px;
}

.mainboxwrapperExplorer {
  flex: none;
}

.mainboxwrapperExplorer .linkbox {
  margin-top: 0;
}

.mainboxwrapperExplorer .bigspan {
  margin-top: -50px;
}

.mainboxwrapperExplorer img {
  display: none;
}

.homepanelexplorer {
  padding-bottom: 100px;
}

.homepanelexplorer .seeallbox {
  flex: auto;
}

.homepanelexplorer #panelcontentcontainer {
  margin-top: 0;
}

/* Media Queries */

@media screen and (max-width: 450px) {
  #homewrapper {
    display: flex;
    flex-direction: column;
  }

  #logocontainer {
    margin-left: 70px;
    justify-content: center;
  }

  #homebuttons {
    display:none;
  }

  #hometitle {
    width: 83%;
    margin-left: 0;
    margin-top: 50px;
  }

  #homeheader {
    padding-bottom: 50px;
    background: right no-repeat url(img/BG.jpg);
    background-size: 280%;
  }

  #boxesrow {
    margin-bottom: 0;
    flex-direction: column;
    display: inherit;
  }

  .mainboxwrapper {
    margin-right: 0;
    margin-bottom: 50px;
  }

  #allarticlesrow {
    margin-top: 20px;
  }

  #homepanel {
    display: none;
  }

  #footerbottomrow {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  #footertext {
    width: 70%;
    margin-bottom: 20px;
  }
}
