/*CSS Grid Begins */

@supports (display: grid) {

  #homewrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: 200px 905px 670px 670px 450px;
  }

  #homenav {
    display:flex;
    width: 100%;
    grid-row: 1 / 2;
  }

  #homeheader {
    display: flex;
    flex-direction: column;
    width: 100%;
    grid-row: 2 / 3;
  }

  #homehero {
    width: 100%;
    grid-row: 3 / 4;
    display: flex;
  }

  #homepanel {
    width: 100%;
    grid-row: 4 / 5;
    display: flex;
  }

  #homefooter {
    width: 100%;
    grid-row: 5 / 6;
    display: flex;
  }
}

#homeheader {
  align-items: center;
  justify-content: center;
  background-color: #5879DA;
}

#homenav {
  align-items: center;
  justify-content: center;
  background-color: #5879DA;
}

#homebuttons {
  color: #fff;
}

#homeheader #hometitle {
  font-size: 35px;
  font-family: "Roboto", "Roboto Slab", Helvetica, sans-serif;
  color: #fff;
  width: 33%;
}

#homesubtitle {
  font-size: 20px;
  font-weight: 300;
  font-family: "Roboto", "Roboto Slab", Helvetica, sans-serif;
  color: #fff;
  width: 33%;
}

#homehero {
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-family: "Roboto Slab", "Roboto", Helvetica, sans-serif;
  background-color: #fff;
  color: black;
}

#homepanel {
  align-items: center;
  justify-content: center;
  font-size: 30px;
  font-family: "Roboto", "Open Sans", Helvetica, sans-serif;
  background-color: #f7f7f7;
  color: #272727;
}

#homefooter {
  align-items: center;
  justify-content: center;
  background-color: #162036;
}
