#defaultcontent {
    grid-column: 3 / span 6
}

#post-content {
    width: 100%;
    margin-left: 50px;
}

.documentTitle {
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: url(./new-experiences.jpg) no-repeat;
    background-size: cover;
    margin-top: 45px
}

#documenttitlecontainer {
    padding-left: 0
}

#newExperiencesTitle {
    font-family: "Roboto";
    font-size: 66px;
    color: #fff;
    opacity: .85
}

#newExperiencesSubtitle {
    font-family: "Roboto";
    font-size: 26px;
    color: #fff;
    opacity: .85
}

.homepageSubtitle {
  font-weight: bold;
  color: #5879DA;
}

.homeTopText {
  width: 70%;
}

#homepageRow {
    display: flex;
    margin-left: 50px;
    margin-bottom: 30px;
    margin-top: 30px
}

.homepageBox {
    display: flex;
    flex-direction: column
}

.homepageBox:first-child {
    margin-right: 120px;
    width: 37%
}

.homepageBoxTitle {
    font-family: "Roboto";
    font-size: 32px;
    color: #38436b;
    line-height: 1;
    margin-bottom: 10px
}

.homepageBoxText {
    font-family: "Roboto";
    font-size: 14px;
    color: #1d1e1d;
    line-height: 1.57
}

h2 {
    font-family: "Roboto";
    font-size: 30px;
    color: #f6720d;
}

.contentTitle {
    display: flex
}

.titleimage {
    margin-left: -75px;
    margin-right: 20px
}

h3 {
    font-family: "Roboto";
    font-size: 22px;
    color: #fff;
    font-weight: bold
}

.contentRow {
    background-color: #38436b;
    padding-left: 120px;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-left: -50px;
}

.secondRow {
    background-color: #fff;
    color: #272727
}

.contentRowText {
    color: #fff;
    display: block;
    width: 70%
}

.secondRow h3 {
    color: #5879da
}

.secondRow .contentRowText {
    color: #272727
}

.imageleft {
    margin-left: 50px
}

.tighter {
    width: 70%
}

.bigAgent {
    width: 78%
}

#newxAnchors {
  padding-top: 20px;
  padding-bottom: 15px;
  background-color: #f8f8f8;
  margin-left: -50px;
}

#newxAnchorsList {
    list-style: none;
    margin-left: 13px;
    line-height: 1;
}

.newxAnchor a {
  color: #5879DA;
  text-decoration: none;
}

@media screen and (max-width: 850px) {
    .homepageRow {
        flex-wrap:wrap
    }

    .homepageBox:first-child {
        margin-bottom: 35px
    }

    #mysidebar {
        padding-left: 20px
    }
}
