<div id="feedback">
  <div class="feedbacktitle">Missing something?</div>
  <br>
  <div class="notice">We'd be happy to hear from you. You can <a href="https://github.com/EdenKupe/knowledge-center/issues/new" target="_blank">open</a> an issue if you find anything that needs correcting or <a href="https://lpproduct.typeform.com/to/ffxrtD" target="_blank">submit</a> a request for a document you think is missing. You might also want to <a href="https://developers.liveperson.com" target="_blank">check our Developers' Community</a> for more in depth documentation.</div>
</div>
