<div id="defaultfooter" class="botfooter">
  <div id="footerbottomrow">
    <div id="footertext">
    <span class="footerbottomspan">Language: English us &copy; 2019 LivePerson Inc. All rights reserved.</span>
    <a href="https://www.liveperson.com/policies/copyright">Copyright</a>
    <a href="https://www.liveperson.com/policies/privacy">Privacy Policy</a>
    <a href="https://www.liveperson.com/policies/terms-of-use">Terms of Use</a>
  </div>
  <div id="footericons">
    <a href="http://twitter.com/liveperson"><i class="fab fa-twitter"></i></a>
    <a href="http://www.facebook.com/liveperson"><i class="fab fa-facebook"></i></a>
    <a href="https://www.youtube.com/MyLivePerson"><i class="fab fa-youtube"></i></a>
    <a href="http://www.linkedin.com/company/164748"><i class="fab fa-linkedin-in"></i></a>
  </div>
</div>
</div>
