<ul id="mysidebar">
{% for category in site.data.workspacedocuments %}
{% if category.categoryname == "The new Agent Workspace" %}
<hr class="sidebarhr" />
  <li class="categoryfolder">
    <div class="itemdetails canOpen">
    <img class="sidebarimage" src="/img/{{ category.image }}.png" />
    <a class="normalLink" onclick="linkclick(event,this)" href="/agent-manager-workspace-new-agent-workspace-welcome.html">{{ category.categoryname }}</a>
  </div>
  <ul class="categorylist getsOpened">
  {% for subcategory in category.subcategories %}
  {% if subcategory.pages %}
  <li class="subcategoryitem">
    <div class="sidebarbuttoncontainer canOpen">
      <button class="sidebarbutton"><span></span><span></span></button>
      <span>{{ subcategory.subcategoryname }}</span>
  </div>
    <ul class="subcategoryfolder getsOpened">
      {% for page in subcategory.pages %}
      {% if page.level3 %}
      <li class="pageitem">
        <div class="sidebarbuttoncontainer canOpen">
          <button class="sidebarbutton"><span></span><span></span></button>
          <span>{{ page.pagename }}</span>
        </div>
        <ul class="pagesfolder getsOpened">
          {% for level3 in page.level3 %}
          <li class="level3item">
            <span><a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | append: '-' | append: page.pagename | append: '-'| append: level3.level3name | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", ""  }}.html">{{ level3.level3name }}</span></a>
          </li>
          {% endfor %}
          </ul>
          </li>
          {% else %}
          <li class="pageitem nobuttons"><a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | append: '-' | append: page.pagename | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ page.pagename }}</li></a>
          {% endif %}
          {% endfor %}
          </ul>
          </li>
          {% else %}
        <li class="subcategoryitem">
          <div class="sidebarbuttoncontainer">
            <a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ subcategory.subcategoryname }}</a>
          </div>
        <ul class="subcategoryfolder getsOpened">
        </ul>
        </li>
        {% endif %}
        {% endfor %}
        </ul>
        </li>
        {% elsif category.categoryname == "What's new" %}
<hr class="sidebarhr" />
  <li class="categoryfolder">
    <div class="itemdetails canOpen">
    <img class="sidebarimage" src="/img/{{ category.image }}.svg" />
    <span>{{ category.categoryname }}</span>
  </div>
  <ul class="categorylist getsOpened">
  {% for subcategory in category.subcategories %}
  {% if subcategory.pages %}
  <li class="subcategoryitem">
    <div class="sidebarbuttoncontainer canOpen">
      <button class="sidebarbutton"><span></span><span></span></button>
      <span>{{ subcategory.subcategoryname }}</span>
  </div>
    <ul class="subcategoryfolder getsOpened">
      {% for page in subcategory.pages %}
      {% if page.level3 %}
      <li class="pageitem">
        <div class="sidebarbuttoncontainer canOpen">
          <button class="sidebarbutton"><span></span><span></span></button>
          <span>{{ page.pagename }}</span>
        </div>
        <ul class="pagesfolder getsOpened">
          {% for level3 in page.level3 %}
          <li class="level3item">
            <span><a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | append: '-' | append: page.pagename | append: '-'| append: level3.level3name | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", ""  }}.html">{{ level3.level3name }}</span></a>
          </li>
          {% endfor %}
          </ul>
          </li>
          {% else %}
          <li class="pageitem nobuttons"><a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | append: '-' | append: page.pagename | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ page.pagename }}</li></a>
          {% endif %}
          {% endfor %}
          </ul>
          </li>
          {% else %}
        <li class="subcategoryitem">
          <div class="sidebarbuttoncontainer">
            <a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ subcategory.subcategoryname }}</a>
          </div>
        <ul class="subcategoryfolder getsOpened">
        </ul>
        </li>
        {% endif %}
        {% endfor %}
        </ul>
        </li>
        {% elsif category.categoryname == "User Guide" %}
        <li class="categoryfolder">
          <div class="itemdetails canOpen">
          <img class="sidebarimage" src="/img/{{ category.image }}.svg" />
          <span>{{ category.categoryname }}</span>
        </div>
        <ul class="categorylist getsOpened">
        {% for subcategory in category.subcategories %}
        {% if subcategory.pages %}
        <li class="subcategoryitem">
          <div class="sidebarbuttoncontainer canOpen">
            <button class="sidebarbutton"><span></span><span></span></button>
            <span>{{ subcategory.subcategoryname }}</span>
        </div>
          <ul class="subcategoryfolder getsOpened">
            {% for page in subcategory.pages %}
            {% if page.level3 %}
            <li class="pageitem">
              <div class="sidebarbuttoncontainer canOpen">
                <button class="sidebarbutton"><span></span><span></span></button>
                <span>{{ page.pagename }}</span>
              </div>
              <ul class="pagesfolder getsOpened">
                {% for level3 in page.level3 %}
                <li class="level3item">
                  <span><a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | append: '-' | append: page.pagename | append: '-'| append: level3.level3name | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ level3.level3name }}</span></a>
                </li>
                {% endfor %}
                </ul>
                </li>
                {% else %}
                <li class="pageitem nobuttons"><a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | append: '-' | append: page.pagename | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ page.pagename }}</li></a>
                {% endif %}
                {% endfor %}
                </ul>
                </li>
                {% else %}
              <li class="subcategoryitem">
                <div class="sidebarbuttoncontainer">
                  <a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ subcategory.subcategoryname }}</a>
                </div>
              <ul class="subcategoryfolder getsOpened">
              </ul>
              </li>
              {% endif %}
              {% endfor %}
              </ul>
              </li>
        {% else %}
        <li class="categoryfolder">
          <div class="itemdetails canOpen">
          <img class="sidebarimage" src="/img/{{ category.image }}.svg" />
          <a class="normalLink" onclick="linkclick(event,this)" href="/agent-manager-workspace-new-agent-workspace-{{ category.categoryname | slugify: "raw" }}.html">{{ category.categoryname }}</a>
        </div>
        <ul class="categorylist getsOpened">
        {% for subcategory in category.subcategories %}
        {% if subcategory.pages %}
        <li class="subcategoryitem">
          <div class="sidebarbuttoncontainer canOpen">
            <button class="sidebarbutton"><span></span><span></span></button>
            <span>{{ subcategory.subcategoryname }}</span>
        </div>
          <ul class="subcategoryfolder getsOpened">
            {% for page in subcategory.pages %}
            {% if page.level3 %}
            <li class="pageitem">
              <div class="sidebarbuttoncontainer canOpen">
                <button class="sidebarbutton"><span></span><span></span></button>
                <span>{{ page.pagename }}</span>
              </div>
              <ul class="pagesfolder getsOpened">
                {% for level3 in page.level3 %}
                <li class="level3item">
                  <span><a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | append: '-' | append: page.pagename | append: '-'| append: level3.level3name | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ level3.level3name }}</span></a>
                </li>
                {% endfor %}
                </ul>
                </li>
                {% else %}
                <li class="pageitem nobuttons"><a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | append: '-' | append: page.pagename | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ page.pagename }}</li></a>
                {% endif %}
                {% endfor %}
                </ul>
                </li>
                {% else %}
              <li class="subcategoryitem">
                <div class="sidebarbuttoncontainer">
                  <a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '-' | append: subcategory.subcategoryname | slugify: "raw" | replace: "'", "" | replace: "&", "" | replace: "--", "-" | replace: ",", "" }}.html">{{ subcategory.subcategoryname }}</a>
                </div>
              <ul class="subcategoryfolder getsOpened">
              </ul>
              </li>
              {% endif %}
              {% endfor %}
              </ul>
              </li>
        {% endif %}
        {% endfor %}
        </ul>
      </ul>
    </li>
</ul>
