<ul id="mysidebar">
{% for category in site.data.documents %}
  <li class="categoryfolder">
    <div class="itemdetails canOpen">
    <img class="sidebarimage" src="img/{{ category.categoryname }}.svg" />
    <span>{{ category.categoryname }}</span>
  </div>
  {% for subcategory in category.subcategories %}
  {% if subcategory.pages %}
    <ul class="subcategoryfolder getsOpened">
    <li class="subcategoryitem">
      <div class="sidebarbuttoncontainer canOpen">
        <button class="sidebarbutton"><span></span><span></span></button>
        <span>{{ subcategory.subcategoryname }}</span>
    </div>
      <ul class="pagesfolder getsOpened">
        {% for page in subcategory.pages %}
        {% if page.level3 %}
        <li class="pageitem">
          <div class="sidebarbuttoncontainer canOpen">
            <button class="sidebarbutton"><span></span><span></span></button>
            <span>{{ page.pagename }}</span>
          </div>
          <ul class="level3folder getsOpened">
            {% for level3 in page.level3 %}
            <li class="level3item">
              <span>{{ level3.level3name }}</span>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          <li class="pageitem">{{ page.pagename }}</li>
          {% endif %}
          </li>
          {% endfor %}
        </ul>
          </li>
        </ul>
        {% else %}
        <ul class="subcategoryfolder getsOpened">
        <li class="subcategoryitem">
          <div class="sidebarbuttoncontainer">
            <a onclick="linkclick(event,this)" href="/{{ category.categoryname | append: '/' | append: subcategory.subcategoryname | slugify }}">{{ subcategory.subcategoryname }}</a>
          </div>
        </li>
        </ul>
      {% endif %}
      {% endfor %}
    </li>
  {% endfor %}
</ul>
