<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "css/default.css" }}">
     <meta name="description" content="LivePerson for Developers. Build on LiveEngage with our powerful digital toolbox">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, Tag, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">
</head>
<body>
<div id="defaultwrapper">
  <div id="defaultheader">
    <div class="mobileheader">
      <button class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="placeholder"></div>
    </div>
    <div id="logocontainer">
      <a href="/index.html"><img src="img/lp-logo.svg" /></a>
    </div>
    <input type="search" id="aa-search-input" class="aa-input-search" placeholder="Search our knowledge center..." name="search" autocomplete="on" />
    <div id="homebuttons">
      <span id="contact" class="homebutton">Contact Us</span>
      <span id="login" class="homebutton"><a href="https://liveengage.liveperson.net">Log In</a></span>
    </div>
  </div>
  <div id="defaultsidebar">
    {% include sidebar.html %}
  </div>
  <div id="defaultcontent">
    <div class="404container">
      <img src="img/404.gif">
    </div>
  </div>
  <div id="defaultfooter">
    <div id="footerbottomrow">
      <div id="footertext">
      <span class="footerbottomspan">Language: English us &copy; 2019 LivePerson Inc. All rights reserved.</span>
      <a href="https://www.liveperson.com/policies/copyright">Copyright</a>
      <a href="https://www.liveperson.com/policies/disclaimer">Disclaimer</a>
      <a href="https://www.liveperson.com/policies/privacy">Privacy Policy</a>
      <a href="https://www.liveperson.com/policies/terms-of-use">Terms of Use</a>
    </div>
    <div id="footericons">
      <a href="http://twitter.com/liveperson"><i class="fab fa-twitter"></i></a>
      <a href="http://www.facebook.com/LivePersonInc"><i class="fab fa-facebook"></i></a>
      <a href="https://www.youtube.com/MyLivePerson"><i class="fab fa-youtube"></i></a>
      <a href="http://www.linkedin.com/company/164748"><i class="fab fa-linkedin-in"></i></a>
      <a href="http://www.pinterest.com/liveperson/"><i class="fab fa-pinterest"></i></a>
    </div>
  </div>
  </div>
<!-- /.container -->
</div>

<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
const search = docsearch({
apiKey: 'c7a71a465b895e34b00ecb5b0f0141fb',
indexName: 'knowledge_BASE',
inputSelector: '.aa-input-search',
debug: true,
algoliaOptions: {
  hitsPerPage: 50
},
autocompleteOptions: {
  openOnFocus: true,
  templates: {
     //'suggestion' templating function used to render a single suggestion
     suggestion: function(suggestion) {
       if (suggestion._highlightResult.content && suggestion._highlightResult.title) {
         return '<span>' + '<a  onclick="linkclick(event, this)" class="searchlink" href="' + suggestion.permalink +'">' + suggestion._highlightResult.title.value + '</a> </span>' + '<br />' + '<span>' + '<a onclick="linkclick(event, this)" class="searchlinktext" href="' + suggestion.permalink +'">' +  suggestion._highlightResult.content.value + '</a> </span>';
       };
     }
 }
}
});

search.autocomplete.on({
  'autocomplete:shown': function() {
    var content = document.getElementById('defaultcontent');
    var sidebar = document.getElementById('defaultsidebar');
    var footer = document.getElementById('defaultfooter');
    content.classList.add('overlayvisible');
    sidebar.classList.add('overlayvisible');
    footer.classList.add('overlayvisible');
},
  'autocomplete:closed': function () {
    var content = document.getElementById('defaultcontent');
    var sidebar = document.getElementById('defaultsidebar');
    var footer = document.getElementById('defaultfooter');
    content.classList.remove('overlayvisible');
    sidebar.classList.remove('overlayvisible');
    footer.classList.remove('overlayvisible');
},
  'autocomplete:empty': function () {
    var content = document.getElementById('defaultcontent');
    var sidebar = document.getElementById('defaultsidebar');
    var footer = document.getElementById('defaultfooter');
    content.classList.add('overlayvisible');
    sidebar.classList.add('overlayvisible');
    footer.classList.add('overlayvisible');
},
  'autocomplete:updated': function () {
    if (this.value != '') {
    var input = document.getElementById('aa-search-input');
    var filter = input.value.toUpperCase();
    localStorage.setItem('filter', filter);
    }else {
      var content = document.getElementById('defaultcontent');
      var sidebar = document.getElementById('defaultsidebar');
      var footer = document.getElementById('defaultfooter');
      content.classList.remove('overlayvisible');
      sidebar.classList.remove('overlayvisible');
      footer.classList.remove('overlayvisible');
}}});
</script>
</body>
</html>
