<!DOCTYPE html>
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ "css/default.css" }}">
    <link rel="stylesheet" href="{{ "css/bot.css" }}">
     <meta name="description" content="LivePerson for Developers. Build on LiveEngage with our powerful digital toolbox">
     <meta name="keywords" content="APIs, SDKs, Mobile development, LiveEngage, Agent workspace, JSON examples, Click to message, Click to chat, Chat window, Skills, Agent Groups, iOS, Android, Mobile devices, Integrations, Live chat, Agent widget, Reporting, Analytics">
     <meta name="author" content="LivePerson Inc.">
     <script  src="{{ "js/message-window.js" }}"></script>
     <script  src="{{ "js/messagingSDK.js" }}"></script>
</head>
<body>
<div id="defaultwrapper" class="botwrapper">
  <div id="defaultheader" class="botheader">
    <div class="mobileheader">
      <button class="hamburger hamburger--slider" type="button">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
      <div class="placeholder"></div>
    </div>
    <div id="logocontainer">
      <a href="/index.html"><img src="img/lp-logo.svg" /></a>
    </div>
    <input type="text" id="aa-search-input" class="aa-input-search" placeholder="Search our knowledge center..." name="search" autocomplete="on" />
    <div id="homebuttons">
      <span id="login" class="homebutton"><a target="_blank" href="https://liveengage.liveperson.net">LivePerson login</a></span>
    </div>
  </div>
  <div id="defaultsidebar">
    {% include sidebar.html %}
  </div>
  <div id="documenttitlecontainer" class="botTitle">
  <div class="documenttitle">
    {% include nav-breadcrumbs.html %}
    <div class="titlecontainer">
      <div class='h1'>{{ page.pagename }}</div>
      <div id="subtitle">{{ page.subtitle }}</div>
      <div id="indicatorrow">
        <div id="lastmodified">Last modified: {{ page.last_modified_at | date: '%B %d, %Y' }}</div>
        <div id="indicators">
          {% if page.indicator != null and page.indicator == "both" or page.indicator == "chat" %}
          <div class="indicator chat">Chat</div>
          {% endif %}
          {% if page.indicator != null and page.indicator == "both" or page.indicator == "messaging" %}
          <div class="indicator messaging">Messaging</div>
          {% endif %}
    </div>
  </div>
</div>
  </div>
  <!-- <div class="suggestbutton"><a href="{{ page.path | replace: 'pages' , 'https://github.com/EdenKupe/knowledge-center/edit/master/pages' }}" target="_blank"><i class="far fa-edit"></i><span>Suggest changes</span></a></div> -->
</div>
  <div id="defaultcontent">
  <div id="maincontent" class="botcontent">
    <div class="anchorlist botAnchors">
      <span class="anchortitle">Jump to</span>
      <ul>
        <li id="jumptotop"><a  class="active" href="#">{{ page.pagename }}</a></li>
      </ul>
    </div>
    {{ content | extlinks }}
  </div>
  </div>
  <div id="resetcontainer"><span>Start over</span></div>
  <div id="defaultfooter" class="botfooter">
    <div id="footerbottomrow">
      <div id="footertext">
      <span class="footerbottomspan">Language: English us &copy; 2019 LivePerson Inc. All rights reserved.</span>
      <a href="https://www.liveperson.com/policies/copyright">Copyright</a>
      <a href="https://www.liveperson.com/policies/disclaimer">Disclaimer</a>
      <a href="https://www.liveperson.com/policies/privacy">Privacy Policy</a>
      <a href="https://www.liveperson.com/policies/terms-of-use">Terms of Use</a>
    </div>
    <div id="footericons">
      <a href="http://twitter.com/liveperson"><i class="fab fa-twitter"></i></a>
      <a href="http://www.facebook.com/LivePersonInc"><i class="fab fa-facebook"></i></a>
      <a href="https://www.youtube.com/MyLivePerson"><i class="fab fa-youtube"></i></a>
      <a href="http://www.linkedin.com/company/164748"><i class="fab fa-linkedin-in"></i></a>
      <a href="http://www.pinterest.com/liveperson/"><i class="fab fa-pinterest"></i></a>
    </div>
  </div>
  </div>
</div>
<!-- /.container -->
<script src="https://cdn.jsdelivr.net/algoliasearch/3/algoliasearch.min.js"></script>
<script src="https://cdn.jsdelivr.net/autocomplete.js/0/autocomplete.min.js"></script>
<script  src="{{ "js/algolia.js" }}"></script>
{% include tag.html %}
{% include getsitecontrol.html %}
<script>
  (function (w,i,d,g,e,t,s) {w[d] = w[d]||[];t= i.createElement(g);
    t.async=1;t.src=e;s=i.getElementsByTagName(g)[0];s.parentNode.insertBefore(t, s);
  })(window, document, '_gscq','script','//widgets.getsitecontrol.com/176473/script.js');
</script>
</body>
</html>
