<!DOCTYPE html>
<head>
    {% include head.html %}
</head>
<body>
  <div id="defaultcontent" class="defaultcontent" id="defaultcontent">
    {{ content | extlinks }}
  </div>
  <div id="defaultfooter" class="defaultfooter">
    <span>LivePerson Inc 2018 | <a href="https://www.liveperson.com/policies/copyright">Copyright Control</a> | <a href="https://www.liveperson.com/policies/apitou">API Terms of Use</a>
    </span>
  </div>
<!-- /.container -->
</div>
<script>
</script>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
