<!DOCTYPE html>
<head>
    {% include head.html %}
</head>
<body>
  <div id="homewrapper">
  <div id="homenav">
    <img src="img/lp-logo.svg" />
    <div id="homebuttons">
      <span class="homebutton">Contact Us</span>
      <span class="homebutton">Log In</span>
    </div>
  </div>
  <div id="homeheader">
    <div id="hometitle">
      <span>Find answers.<br>Discover new features.<br> Get conversational.</span>
      <br>
      <span id="homesubtitle">The knowledge center houses our product documentation, onboarding tips and best practices to support conversational commerce</span>
    </div>

    </div>
  </div>
  <div id="homehero">I am a hero</div>
  <div id="homepanel"><span>I am a panel</span></div>
  <div id="homefooter">
    <span>LivePerson Inc 2018 | <a href="https://www.liveperson.com/policies/copyright">Copyright Control</a>
    </span>
  </div>
</div>
<script type="text/javascript">

</script>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
