<!DOCTYPE html>
<head>
    {% include head.html %}
</head>
<body>
  <div id="homewrapper">
  <div id="homeheader"><div id="hometitle"><span>Hello I am a header<span></div></div>
  <div id="homehero">I am a hero</div>
  <div class="homepanel"><span>I am a panel</span></div>
  <div class="homepanel"><span>I am a panel</span></div>
  <div class="homepanel"><span>I am a panel</span></div>
  <div id="homefooter">
    <span>LivePerson Inc 2018 | <a href="https://www.liveperson.com/policies/copyright">Copyright Control</a>
    </span>
  </div>
</div>
<script type="text/javascript">

</script>
</body>
{% if site.google_analytics %}
{% include google_analytics.html %}
{% endif %}
</html>
