---
layout: default
---
{% assign post = page.item %}
{% assign elements = post.elements %}
{% assign system = post.system %}
{% assign language = system.language %}

{% assign published_date = elements.published.value | stringify_date: "%A, %B %d, %Y" %}
{% assign other_posts = site.posts | where_exp: 'post', 'post.item.system.language == language' | where_exp: 'post', 'post.item.system.codename != system.codename' %}
{% assign author = elements.author %}

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="post-content" itemprop="articleBody">       
        <section>{{ elements.body.value }}</section>
    </div>
</article>
{% if site.disqus %}
{% include disqus.html %}
{% endif %}

{{site.data.alerts.hr_shaded}}